.titleInput{
    width: 100%;
    height: 40px;
    margin: 20px auto;
}

.formWrapper{
    width:1000px;
    margin: 0px auto;

}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
}
h2{
    display: inline-block;
}
#submit{
    display : block;
    float : right;
    width: 100px;
    height: 40px;
}